@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

a {
  all: unset;
}

.canvas {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
}

.full-page {
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  padding: 40px;
  width: 70vw;
  background: white;
  display: flex;
  flex-direction: column;
  transition: ease-in-out all 100ms;
}

.page-title {
  font-size: 34px;
  text-transform: uppercase;
  margin-top: 50px;
  margin-bottom: 100px;
}

.page-rest {
  display: flex;
}

.page-close {
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: pointer;
}

.page-close:hover {
  transform: scale(1.1);
}

.page-show-explain {
  all: unset;
  background: white;
  transition: ease-in-out all 200ms;
  text-transform: uppercase;
  font-variation-settings: "wght" 500;
}

.page-alt {
  font-size: 13px;
  margin-bottom: 20px;
}

.page-alt-explain {
  width: 30%;
  margin-right: 2%;
}

.page-display {
  width: 68%;
  overflow-y: scroll;
  margin-bottom: 150px;
}

.page-display img {
  width: 95%;
}

.page-link {
  font-size: 14px;
  transition: ease-in-out 150ms all;
}
.page-link:hover {
  cursor: pointer;
  margin-left: 20px;
}

.one {
  background: black;
  font-size: 8px;
  text-align: justify;
  position: absolute;
  animation: breathe 22000ms ease-in-out infinite;
  overflow-y: scroll;
  border: 3px solid black;
}
.animate {
  transition: ease-out 300ms all;
}

@keyframes breathe {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.search-container {
  position: fixed;
  z-index: -2;
  bottom: 10vh;
  display: flex;
  flex-direction: column;
  transition: ease-in-out all 300ms;
}
.search-and-button {
  display: flex;
}

.search-container input {
  all: unset;
  border: 3px solid black;
  width: 25vw;
  padding: 10px;
  background: white;
}

.search-container button {
  all: unset;
  border: 3px solid black;
  background: white;
  margin: 0 0.5vw;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 200ms;
  text-transform: uppercase;
  font-variation-settings: "wght" 500;
}

button:hover {
  cursor: pointer;
  /* background: black; */
  /* color: white; */
  font-variation-settings: "wght" 700;
}
.suggestions-container {
  width: 25vw;
  flex-direction: column;
  display: flex;
  background: white;
  padding: 10px;
  border: 3px solid black;
  border-bottom: 0px solid white;
}

.suggestions {
  cursor: pointer;
  all: unset;
  border-top: 1px solid black;
  padding: 5px;
  transition: ease-in-out all 250ms;
  font-variation-settings: "wght" 300;
}
.selected-suggestions {
  font-variation-settings: "wght" 700;
  transition: ease-in-out all 250ms;
}
.suggestions:nth-child(1) {
  border-top: 0px solid black;
}

.suggestions:hover {
  cursor: pointer;
  font-variation-settings: "wght" 700;
  /* background: black; */
  /* color: white; */
}

.container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.semi-container {
  width: 50vw;
}

.comic-box {
  position: relative;
  margin: 5% 5% 0 5%;
  width: 85%;
  background: white;
  border: 3px solid rgb(240, 240, 240);
  padding: 10px;
  transition: all ease-in-out 150ms;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.05);
  height: 25vh;
  display: flex;
  font-variation-settings: "wght" 350;
}

.comic-title-box {
  width: 50%;
  font-size: 18px;
}

.comic-title-alt {
  width: 50%;
  padding: 10px;
  overflow-y: scroll;
  font-size: 14px;
}

.comic-box:hover {
  padding: 20px;
  border: 3px solid rgba(0, 0, 0, 1);
  transform: rotate(1.4deg) scale(1.02);
  cursor: pointer;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.3);
  font-variation-settings: "wght" 550;
}

.comic-title {
  padding: 10px;
}

.comic-stats {
  transition: all ease-in-out 150ms;
  margin: 0 5%;
  padding: 10px;
  background-color: black;
  color: white;
  width: 85%;
  height: 10vh;
  overflow: hidden;
  border: 1px;
  z-index: -10;
  position: relative;
}

.comic-stat-container {
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.comic-stat-single {
  font-size: 12px;
  padding: 2px;
  margin: 5px;
  color: white;
  /* border: 1px solid white; */
  /* line-height: 35px; */
  /* color: black; */
  /* background-color: white; */
}

.comic-img {
  position: fixed;
  top: 5vw;
  transform: rotate(-0.2deg) scale(1.02);
  width: 25vw;
  transition: ease-in-out right 180ms;
  border: 3px solid black;
  padding: 10px;
  background: white;
  z-index: -10;
}

#comic-interactive-img {
  font-size: 20px;
  z-index: 10;
  border: 3px solid rgba(200, 0, 100, 1);
  background-color: rgb(200, 0, 100);
  color: white;
  box-shadow: 5px 5px 24px -2px rgba(200, 0, 100, 0.3);
  animation: wiggle 1.5s ease-in-out infinite;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  55% {
    transform: rotate(0deg);
  }
  65% {
    transform: rotate(2.5deg);
  }
  75% {
    transform: rotate(-2.5deg);
  }
  85% {
    transform: rotate(2.5deg);
  }
  95% {
    transform: rotate(-2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#comic-interactive:hover {
  border: 3px solid rgba(200, 0, 100, 1);
  color: rgb(200, 0, 100);
  box-shadow: 5px 5px 24px -2px rgba(200, 0, 100, 0.3);
}

.results-page {
  z-index: -1;
  width: 50vw;
  height: 102vh;
  position: fixed;
  /* border: 3px solid black; */
  top: -10px;
  /* background: white; */
  transition: ease-in-out all 300ms;
  overflow-y: scroll;
  /* box-shadow: -15px 5px 24px 2px rgba(0, 0, 0, 0.1); */
}

.show-more {
  all: unset;
  border: 3px solid rgb(240, 240, 240);
  background: white;
  margin: 50px auto 100px auto;
  font-size: 20px;
  padding: 5px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 200ms;
  font-variation-settings: "wght" 300;
}

.loading {
  all: unset;
  background: white;
  margin: 50px auto 100px auto;
  font-size: 20px;
  padding: 5px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 200ms;
  font-variation-settings: "wght" 300;
}

.show-more:hover {
  border: 3px solid black;
}

.stats-container {
  height: 50px;
  z-index: -3;
  overflow: hidden;
  position: relative;
  background: black;
  color: white;
}

.stats-container-mini {
  height: 50px;
  overflow: hidden;
  position: relative;
  background: black;
  color: white;
  opacity: 0;
  transition: ease-in-out all 150ms;
}

.stats-container-mini:hover {
  opacity: 1;
}

.stats-container p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 18s linear infinite;
}

.stats-container-mini p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  line-height: 50px;
  text-align: center;
  transform: translateX(100%);
  animation: scroll-left 18s linear infinite;
}
@keyframes scroll-left {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
