@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
}

a {
  all: unset;
}

.canvas {
  width: 100vw;
  height: 100vh;
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
}

.one {
  color: rgb(80, 80, 80);
  background: white;
  position: absolute;
  animation: breathe 8000ms ease-in-out infinite;
  border: 3px solid black;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.5);
}
.two {
  color: rgb(80, 80, 80);
  /* background: black; */
  background: white;
  position: absolute;
  border: 3px solid black;
  animation: breathe 12000ms ease-in-out infinite;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.2);
}
.three {
  color: rgb(80, 80, 80);
  /* background: black; */
  background: white;
  position: absolute;
  border: 3px solid black;
  animation: breathe 8000ms ease-in-out infinite;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.2);
}
.four {
  color: rgb(80, 80, 80);
  border: 3px solid black;
  /* background: black; */
  background: white;
  position: absolute;
  animation: breathe 8000ms ease-in-out infinite;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.2);
}

.animate {
  transition: ease-out 300ms all;
}

@keyframes breathe {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scaleX(1.05);
  }
  100% {
    transform: scaleX(1);
  }
}

.search-container {
  position: fixed;
  bottom: 10vh;
  display: flex;
  transition: ease-in-out all 300ms;
}

.search-container input {
  all: unset;
  border: 2px solid black;
  width: 25vw;
  padding: 10px;
  background: white;
}

.search-container button {
  all: unset;
  border: 2px solid black;
  background: white;
  margin: 0 0.5vw;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: ease-in-out all 200ms;
  text-transform: uppercase;
  font-variation-settings: "wght" 400;
}

button:hover {
  cursor: pointer;
  /* background: black; */
  /* color: white; */
  font-variation-settings: "wght" 700;
}

.container {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.semi-container {
  width: 50vw;
}

.comic-box {
  margin: 5%;
  width: 90%;
  overflow-y: scroll;
  background: rgb(240, 240, 240);
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.05);
}

.comic-box:hover {
  transform: rotate(1.4deg) scale(1.02);
  transition: all ease-in-out 50ms;
  cursor: pointer;
  box-shadow: 5px 5px 24px -2px rgba(0, 0, 0, 0.3);
}

.comic-title {
  margin: 2% 5%;
  background: black;
  color: white;
  padding: 5px;
}

.suggestions {
  cursor: pointer;
  all: unset;
  border: 1px solid black;
  padding: 5px;
  margin: 10px 5px;
  transition: ease-in-out all 200ms;
}

.suggestions:hover {
  cursor: pointer;
  background: black;
  color: white;
}

.results-page {
  z-index: 2;
  width: 50vw;
  height: 100vh;
  position: fixed;
  border: 1px solid black;
  top: 0;
  background: white;
  transition: ease-in-out all 300ms;
  overflow-y: scroll;
}

.comic-img {
  position: fixed;
  top: 5vw;
  width: 45vw;
  transition: ease-in-out all 180ms;
  z-index: -1;
}
